@font-face {
  font-family: 'letterRickandMorty'; /*a name to be used later*/
  src: url('assets/fonts/get_schwifty.ttf'); /*URL to font*/
}

.background{
  background-color: black;
  background-image: url("images/background.jpg");
}

#searchByName{
  display:block;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  border: 1px solid #C7FA6C;
  box-sizing: border-box;
  border-radius: 5px;
  color: white;
  margin-right: 10px;
}

#advancedFilter{
  background-color: white;
  display: inline-block;
}

.nameOrder{
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards{
  background-color: black;
}

.cards{
  display: flex;
  flex-wrap:wrap;
  color: white;
  
}

div{
  margin: 10px;
  border: 2px solid greenyellow;
  border-radius: 25px;
}

p{
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3List{
  display: flex;
  justify-content: center;
  border-bottom: 2px solid greenyellow;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-top: 5%;
  padding-bottom: 5%;
}

.imageList{
  display: flex;
  justify-content: center;
  border-radius: 35px;
  margin-top: 5%;
}

/* modal */
.modalContent{
  background-color:white;
  width:650px;
  margin: 10% auto;
  position: relative;
  border: 9px solid #FFE606;
  border-radius: 40px;
  }
  
  .modal{
  background-color: rgba(51,255,0,0.5);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;  
  opacity:0;
  pointer-events:none;
  transition: all 1s;
  }
  #myModal:target{
  opacity:1;
  pointer-events:auto;
  }
  
  #informationModal{
  display: flex;
  }
  
  .paragraphModal{
  display: inline-block;
  width: 50%;
  }
  
  #photoModal{
  height: 280px;
  width: 280px;
  display: inline-block;
  margin-bottom: 5%;
  margin-top: 1%;
  margin-right: 5%;
  margin-left: 2%;
  }
  
  #paragraphModal h2 {
    display: flex;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 0%;
    margin-bottom: 0%;
    border: 1px solid #2A2C6C;
    box-shadow: 6px 6px #2A2C6C; 
  }
  
  #nameModal{
    /*background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);*/
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'letterRickandMorty';
    color: green;
    text-shadow: 2px 2px black;
    margin-top: 0%;
    margin-bottom: 0%;
    background-image: url('images/backgroundModal.png');
    border: 7px solid #2A2C6C;
    box-sizing: border-box;
    border-radius: 0px 0px 28px 28px;
  }

.close{
  position: absolute;
  top: 5px;
  left: 5px;
  display:flex;
  width: 35px;
  height: 35px;
  background: red;
  color: white;
  line-height: 25px;
  cursor: pointer;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}


/* header flex :D******************************* */
/* header******************************* */
header .boxName{
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 35.30%;
/* align-self: center; */
}

header .logotipe{
/* 467*149 */
  width: 36.46%;
  height: 35.30%;
}

header .icon{
/* 151*130 */
  width: 11.79%;
  height: 30.79%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 2.26% 0% 2.26% 0%;
}
/* ******************************* */
/* nav flex :D******************************* */
body .navegation{
  display: flex;
  align-content: center;
  justify-content: flex-end;
  background-color: rgba(37, 34, 34, 0.85);
  color: white; 
  width: 100%;
}

nav ul{
 

 display: inline-flex;
    list-style: none;
    justify-content: space-around;

 
}
nav li a {
  text-decoration: none; 
  font-size:  130%;
  font-weight: medium;
  color: white;
  flex-basis: auto;
  padding: 0% 1% 0% 1%;
}


/* ******************************* */
/* nav footer :D******************************* */

footer{
  /* 1439x124 */
  /* display: flex;
  align-content: end; */
  background: #282323;
  /* width:100%;
  bottom:0; */
}


footer .socialBar{
 display: flex;
}

footer .allRightsReserved{
display: flex;
flex-direction: row;

}
footer img{
  width: 4.45%;
  height: 35.48%;
}

footer span{
 width: 11.74%;
  height: 16.94%;
}


/*hide everithing */
.hide{
  display: none;
}